<div class="posts list-group">
    {{#each posts as |post|}}
    <a href="/dashboard/edit/{{post.id}}">
        <div class="list-item flex-row justify-space-between align-center">
            <div class="col-7">{{post.title}}</div>
            <div class="col-5 text-end">{{format_date post.updatedAt}}</div>
        </div>
    </a>
    {{/each}}
</div>