<div class="post card">
    <div class="card-header">
        <h2>
            Create New Post
        </h2>
    </div>
    <div class="card-body">
        <form id="new-post-form">
            <label for="post-title">
                Title
            </label>
            <input name="post-title">
            <label for="post-body">
                Content
            </label>
            <textarea name="post-body"></textarea>
            <button type="submit" id="create" class="btn">Create</button>
        </form>
    </div>
</div>

<script src="/js/new.js"></script>